<div class="container">
  <div class="row">
    <div class="home-description">
      <h1><strong>Your Community Cheat Sheet</strong></h1>
      <h4>Share your notes online to help and gain the brain power of your classmates without having to eat their brains.</h4>
      <a href="/courses" class="btn btn-red">Browse Notes</a>
    </div>

    <div class="col-md-10 col-md-offset-2 banner-img">
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 reviews text-center">
      <h3>"A Caterpie may change into a Butterfree, but the heart that beats inside remains the same" <br>-Brock</h3>
    </div>
    <div class="col-md-4 reviews text-center">
      <h3>"I see now that the circumstances of ones birth are irrelevant. It is what you do with the gift of life that determines who you are." <br>-Mewtwo</h3>
    </div>
    <div class="col-md-4 reviews text-center">
      <h3>"Well Ash, ya' snooze ya' lose and you're behind right from the start" <br>-Gary</h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 reviews text-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/The_Logo_of_The_Washington_Post_Newspaper.svg/2000px-The_Logo_of_The_Washington_Post_Newspaper.svg.png">
    </div>
    <div class="col-md-4 reviews text-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/The_Seattle_Times_logo.svg/1280px-The_Seattle_Times_logo.svg.png">
    </div>
    <div class="col-md-4 reviews text-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Rolling_Stone_logo.png">
    </div>
  </div>
</div>
