<h1 class="text-center">Viewing notes for <%= @course.code %></h1>

<div class="container">
  <% @notes.each do |n| %>
    <div class="well">
      <h3><%= n.title %></h3>
    </div>
  <% end %>
</div>
