<div class="container">
  <div class="page_headline course_headline">
    <div class="row">
      <div class="col-xs-8 head_title">
        <h1>Saved notes</h1>
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="container">
  <% @favorites.each do |n| %>
    <% if (n.whitelist.length == 0 || n.whitelist.include?(@current_user.id.to_s))%>
        <%= render "partials/note_preview", locals:  {n:  n, current_user: @current_user} %>
        <hr>
    <% end%>
  <% end %>
  <%= will_paginate @notes %>
</div>
