<div class="col-xs-4">
  <div class="well course-well">
    <a class="course-link" href="/courses/<%= locals[:c].id %>">
      <div class="row">
        <div class="col-xs-10">
          <h3><strong><%= locals[:c].name %></strong></h3>
          <p class="gray"><strong>DESCRIPTION</strong></p>
          <p><%= locals[:c].description[0..40] %>...</p>
        </div>
        <div class="col-xs-2">
          <i class="arrow fa fa-angle-right fa-3x" aria-hidden="true"></i>
        </div>
      </div>
    </a>
  </div>
</div>
