<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <br>
        <br>
        <h4 style="line-height:1.5;">
          Pokémon is a series of video games developed by Game Freak and Creatures Inc. and published by Nintendo as part of the Pokémon media franchise.
        </h4>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <br><br>
            <h4 class="mary-poppins-font"><strong>Company</strong></h4>
            <hr>
            <ul>
              <a href="#">About</a>
              <hr>
              <a href="#">Locations</a>
              <hr>
              <a href="#">Contact</a>
              <hr>
              <a href="#">FAQ</a>
            </ul>
          </div>
          <br><br>
          <div class="col-xs-12 col-sm-6">
            <h4 class="mary-poppins-font"><strong>Community</strong></h4>
            <hr>
              <ul>
                <a href="#">Become a Member of Elite Four</a>
                <hr>
                <a href="#">Join a Gym</a>
                <hr>
                <a href="#">Fund a Pokemon Trainer</a>
                <hr>
                <a href="#">Looking for Talent?</a>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <hr>
    <p>
      <i class="fa fa-futbol-o" aria-hidden="true"></i> &nbsp; 2017. &nbsp; Pokemans. &nbsp;Assembled in Seattle
    </p>
  </div>
</div>
