<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <br>
        <br>
        <h4 style="line-height:1.5;">
          GA Notes is a note sharing app created for General Assembly students.
          The prototype for this project was created in 5 days and submitted as
          <a href="https://github.com/cannedyeti" target="_blank">cannedyeti</a> and
          <a href="https://github.com/dddotcom" target="_blank"> dddotcom</a>'s final WDI project
          at GA Seattle.
        </h4>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <br><br>
            <h4 class="mary-poppins-font"><strong>Code</strong></h4>
            <hr>
            <ul>
              <a href="https://github.com/cannedyeti/ga_notes_app" target="_blank">Github</a>
              <hr>
              <a href="https://github.com/cannedyeti/ga_notes_app/issues" target="_blank">Submit an Issue</a>
            </ul>
          </div>
          <br><br>
          <div class="col-xs-12 col-sm-6">
            <h4 class="mary-poppins-font"><strong>Developers</strong></h4>
            <hr>
              <ul>
                <a href="https://cannedyeti.github.io/" target="_blank">Connor Potebnya</a>
                <hr>
                <a href="https://dddotcom.github.io/" target="_blank">Denise Ortega</a>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p>
          <%= image_tag 'pokeball.png',  class: 'pokeball-img' %> &nbsp; 2017. &nbsp; Pokemans.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p class="text-right">Assembled in Seattle</p>
      </div>
    </div>
  </div>
</div>
