<nav class="navbar navbar-inverse">
  <div>
    <div class="navbar-header">
      <% if not @current_user %>
        <a class="navbar-brand" href="/">
          <%= image_tag 'ga-logo.png', class: 'ga-logo'%>
        </a>
      <% else %>
        <a class="navbar-brand" href="/courses">
          <%= image_tag 'ga-logo.png', class: 'ga-logo'%>
        </a>
      <% end %>

    </div>
    <ul class="nav navbar-nav pull-right">
      <li class="dropdown">
        <a href="/courses">Category
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% @courses.each do |c| %>
            <li><a href="/courses/<%=c.id%>"><%= c.code %></a></li>
          <% end %>
        </ul>
      </li>
      <% if @current_user %>
        <li class="dropdown">
          <a href="/profile">My Stuff
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/notes">My Notes</a></li>
            <li><a href="/favorites">Saved Notes</a></li>
            <% if @current_user.privilege == 2 %>
            <li><a href="/admin/allusers">All Users</a></li>
            <li><a href="/admin/allnotes">All Notes</a></li>
            <% end %>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
        <li><a href="/notes/new">Create Note</a></li>
      <% else %>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
      <% end %>
    </ul>
  </div>
</nav>
