<div class="container">
  <div class="page_headline course_headline">
    <div class="row">
      <div class="col-xs-8 head_title">
        <h1>#<%= @tag.tag_name %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <hr class="hr-gray">
      </div>
    </div>
  </div>

  <% if @notes.length >= 1 %>
    <% @notes.each do |n| %>
      <%= render "partials/note_preview_from_tag", locals:  {n:  n} %>
    <% end %>
  <% else %>
    <h1 class="fiji-font text-center">NOTHING</h1>
  <% end %>
</div>
