// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #f6f6f6;
  font-family: News\ 706,Georgia,serif;
}

.ga-logo {
  width: 224px;
  height: 24px;
}

nav.navbar {
  background-color: black;
  border: none;
  border-radius: 0;
  font-size: 17px;
  margin-bottom : 0px;
}

.navbar {
  height: 57px;
  li {
    height: 57px;
  }
  li a {
    padding: 18px 15px 16px 15px;
  }
  li:hover {
    background: white;
  }
  ul.pull-right a {
    color: white;
    &:hover {
      color: #fa4542
    }
  }
  li.dropdown a {
    color: white;
    &:hover {
      color: #fa4542;
    }
  }
  li a:hover {
    color:#fa4542;
    background: white;
  }
  ul.dropdown-menu a{
    color: black;
  }
  li:hover a {
    color: black;
  }
}

.banner-img {
  background: url('notes-banner.jpg');
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover; 
}

.home-description {
  color: black;
  h1 { 
    font-size: 47px;
  }
  padding: 10px 50px 10px 50px;
  position: absolute;
  z-index: 10;
  width: 400px;
  background: white;
  top: 160px;
  h4 {
    padding: 20px 0 20px 0;
  }
}

.btn-red, .btn-red-home {
  margin: 10px 0 30px 0;
  background-color: #fa4542;
  font-family: Circular,Helvetica,Arial,sans-serif;
  color: white;
  box-shadow: 0 3px 0 0 #a20101;
  height: 60px;
  font-size: 1.5em;
  &:hover {
    color: white;
    background-color: red;
  }
}

.btn-red-home {
  width: 95%;
}


.btn {
  padding: 14px 12px;
}

.blog {
  h1 {
    font-family: 'Impact';
    font-weight: .8;
    color: black;
  }
}

.profile-link {
  color: rgb(162, 162, 162);
  &:hover {
    text-decoration: none;
    color: rgb(162, 162, 162);
    span{
      color: #fa4542;
    }
  }
}

.reviews {
  img {
    height: 30px;
  }
  color: grey;
  font-family: 'Times New Roman', Times, serif;
  h3 {
    font-size: 30px;
  }
  &:last-of-type {
    margin-bottom: 50px;
  }
}

.dropdown:hover .dropdown-menu {
display: block;
}

.pop-tags {
  background-color: white;
  padding: 40px 0;
  font-family: Circular,Helvetica,Arial,sans-serif;
  text-align: center;
  a:hover {
  text-decoration: none;
  }
  .tag {
    background-color: white;
    color: #fa4542;
    margin: 20px auto 0 auto;
    border: 1px solid #fa4542;
    border-radius: 4px;
    padding-top: 0px;
    width: 80%;
    h3 {
      font-size: 15px;
    }
    &:hover {
      color: white;
      background-color: #fa4542;
    }
  }
}

.headline {
  margin: 30px 0;
  font-family: Circular,Helvetica,Arial,sans-serif;
  font-size: 60px;
}

.page_headline {
  margin: 20px 20% 20px;
  background-color: #f6f6f6;
  height: 300px;
  h1{
    font-size: 80px;
    text-align: left;
    font-family: "Impact";
    color: black;
    margin-bottom: 20px;
  }
  .head_title {
  
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif
  }
}

.desc_container {
  padding: 20px 40px;
  text-align: center;
  h4 {
    display: inline;
    font-size: 20px;
  }
  width: 250px;
  background-color: white;
  position: absolute;
  top: 2em;
  p {
    margin-top: 20px;
    font-size: 17px;
  }
}

