// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #f6f6f6;
  font-family: News\ 706,Georgia,serif;
}

.footer {
  background-color: #222222;
  color: #a2a2a2;
  ul {
    padding-left: 0px;
  }
  a {
    text-decoration: none;
    color: #a2a2a2;
    font-size: 1.2em;
  }
  p {
    font-size: 1.4em;
  }
  hr {
    border-color: rgb(56,56,56);
  }
  .round-icon {
    margin: 10px;
    // height: 50px;
    // width: 50px;
    border-radius: 50%;
    padding: 10px;
    background-color: #a2a2a2;
    color: #222222;
  }
}

.fancy-font {
  font-family: News\ 706,Georgia,serif;
}

.fiji-font {
  font-family: 'Fjalla One', sans-serif;
}

.mary-poppins-font {
  font-family: 'Poppins', sans-serif;
}

.ga-logo {
  width: 224px;
  height: 24px;
}

.ga-lt-red {
  color: #fa4542;
}

.dk-gray {
  color: rgb(145,145,145);
}

nav.navbar {
  background-color: black;
  border: none;
  border-radius: 0;
  font-size: 17px;
  margin-bottom : 0px;
}

.navbar {
  margin-bottom: 0px;
  height: 57px;
  li {
    height: 57px;
  }
  li a {
    padding: 18px 15px 16px 15px;
  }
  li:hover {
    background: white;
  }
  ul.pull-right a {
    color: white;
    &:hover {
      color: #fa4542
    }
  }
  li.dropdown a {
    color: white;
    &:hover {
      color: #fa4542;
    }
  }
  li a:hover {
    color:#fa4542;
    background: white;
  }
  ul.dropdown-menu a{
    color: black;
  }
  li:hover a {
    color: black;
  }
}

.banner-img {
  background: image-url('notes-banner.jpg');
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-description {
  color: black;
  h1 {
    font-size: 47px;
  }
  padding: 10px 50px 10px 50px;
  position: absolute;
  z-index: 10;
  width: 400px;
  background: white;
  top: 160px;
  h4 {
    padding: 20px 0 20px 0;
  }
}

.table {
  width: 95%;
}

.account-well {
  // margin:10px;
  padding: 10px;
  border: 1px solid #dadada;
  @extend .mary-poppins-font;
  .sign-in-field {
    background: transparent;
    @extend .off-black;
  }
  .control-label {
    font-size: 0.8em;
  }
  select {
    background: transparent !important;
  }
}

.profile-side-nav {
  margin-left: 100px;
  ul {
    list-style-type: none;
    padding-left: 0px;
    li {
      padding-bottom: 10px;
    }
    a {
      @extend .off-black;
      text-decoration: none;
      &:hover {
        @extend .ga-lt-red
      }
    }
  }
}

.no-account {
  margin: 10px 0 30px 0;
  padding: 18px;
  font-size: 1.2em;
  height: 62px;
  border: 1px solid #dadada;
  @extend .off-black;
  @extend .fancy-font;
}

.off-black {
  color: #222222;
}

.note-content {
  background-color: white;
  padding: 5px 10px;
}

.red-link {
  color: black;
  text-decoration: underline;
  &:hover {
    color: #fa4542;
  }
}

.btn-red, .btn-red-home, .btn-red-sign, .btn-red-sm {
  margin: 10px 0 30px 0;
  background-color: #fa4542;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: white;
  box-shadow: 0 3px 0 0 #a20101;
  height: 52px;
  font-size: 1.3em;
  &:hover {
    color: white;
    background-color: red;
  }
}

.btn-grey {
  background-color: rgb(195,195,195);
  margin: 10px 0 30px 0;
  @extend .mary-poppins-font;
  font-weight: 600;
  color: rgb(56,56,56);
  box-shadow: 0 3px 0 0 rgb(129,129,129);
  height: 52px;
  font-size: 1em;
  &:hover {
    background-color: rgb(210,210,210);
  }
}

.btn-red-sm {
  font-size: 1em;
}

.btn-red-home {
  width: 95%;
}

.btn-red-sign {
  width: 100%;
}

.btn {
  padding: 14px 12px;
}

.blog {
  .main {
    @extend .fiji-font;
    font-weight: .8;
    color: black;
    font-size: 4em;
  }
}

.profile-link {
  color: rgb(162, 162, 162);
  &:hover {
    text-decoration: none;
    color: #fa4542;
    // color: rgb(162, 162, 162);
    span{
      color: #fa4542;
    }
  }
}

.reviews {
  img {
    height: 30px;
  }
  color: grey;
  font-family: 'Times New Roman', Times, serif;
  h3 {
    font-size: 30px;
  }
  &:last-of-type {
    margin-bottom: 50px;
  }
}

.dropdown:hover .dropdown-menu {
display: block;
}

.pop-tags {
  background-color: white;
  padding: 40px 0;
  font-family: Circular,Helvetica,Arial,sans-serif;
  text-align: center;
  a:hover {
  text-decoration: none;
  }
  .tag {
    background-color: white;
    color: #fa4542;
    margin: 20px auto 0 auto;
    border: 1px solid #fa4542;
    border-radius: 4px;
    padding-top: 0px;
    width: 80%;
    h3 {
      font-size: 15px;
    }
    &:hover {
      color: white;
      background-color: #fa4542;
    }
  }
  h1 {
    margin: 10px;
  }
}

.headline {
  margin: 30px 0;
  font-family: Circular,Helvetica,Arial,sans-serif;
  font-size: 60px;
}

.page_headline {
  margin: 20px 0px;
  background-color: #f6f6f6;
  height: 180px;
  h1{
    font-size: 80px;
    text-align: left;
    @extend .fiji-font;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 3em;
    @extend .fiji-font;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
    text-align: left;
  }
  .head_title {
    padding: 20px;
    font-family: 'Fjalla One', sans-serif;
  }
}

.desc_container {
  padding: 20px 40px;
  text-align: center;
  h4 {
    display: inline;
    font-size: 20px;
  }
  width: 250px;
  background-color: white;
  position: absolute;
  top: 2em;
  p {
    margin-top: 20px;
    font-size: 17px;
  }
}

.badgers {
  height: 30px;
  position: relative;
  left: -10px;
  top: -10px;
}

.badges {
  .containthisshit {
    margin: 0 auto;
  }
  .well{
    background-color: rgb(200, 200, 200);
    margin: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}
.badgewell {
  width: 85%;
  background-color: rgba(0,123,255, .5);
}

.fiji {
  margin-top: 100px;
  margin-bottom: 20px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 36px;
}

.sign-in {
  font-family: Circular,Helvetica,Arial,sans-serif;
}

.form-field {
  height: 52px;
  border: 1px solid #dadada;
  background-color: #ffffff;
  margin: 0rem 0rem 1rem 0rem;
  font-size: 15px;
  font-weight: 300;
  padding: 1rem;
  border-radius: 0px;
}

.user-pic {
  max-height: 300px;
}
.sign-in-field {
  color: rgb(126,126,126);
  &:focus {
    border: 2px rgb(255,219,0) solid;
    outline: none;
    box-shadow: none;
  }
}

select {
  height: 52px !important;
  font-family: Circular,Helvetica,Arial,sans-serif;
  &:focus {
    border: 2px rgb(255,219,0) solid !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

.control-label {
  font-weight: normal;
}

.preview {
  margin: 30px 10px;
}

.note-foot {
  color: rgb(162, 162, 162);
  span {
    color: black;
  }
}

hr {
  @extend .off-black;
  border-color: #222222;
}

.tag-sidebar-title {
  text-align:right;
  @extend .fiji-font;
  text-decoration: underline;
}

.tag-sidebar {
  margin: 15px 0px;
  text-align: right;
}
